<section id="about" class="about">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>About Me</h2>
          <p>My Name is Ahmed Gamal Behairy.
              Student at faculty of Engineering Tanta University.
              I do volunteer work for Ebtsama as HR.
          </p>
          <p> worked as Web Designer.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 aos-init aos-animate" data-aos="fade-right">
            <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left">
            
            </p>
          </div>
        </div>

      </div>
    </section>