<section id="contact" class="contact">

        <div class="section-title">
          <h2>Contact</h2>
          <p>If You have any Qusetions,please contact me.</p>
        </div>

      </div>

      

      <div class="container">

        <div class="row mt-5">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>Egypt, El-Gharbia, Tanta</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>ahmedgamal6999@gmail.com<br>ahmed.30934385@f-eng.tanta.edu.eg</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+20 1097206129<br>+20 1000653871</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
                </div>
                <div class="col form-group mt-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required=""></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
            <center>
      <div class="social-links mt-3" style="margin-right:50px">
                <a href="https://twitter.com/A_Behairy99" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/Behairy99" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.linkedin.com/in/ahmed-behairy-b24603235/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="https://github.com/Behairy99/" class="bi-github"><i class="bi-github"></i></a>
      </div>
      </center>
          </div>

        </div>

      
    </section>