<section id="doctors" class="doctors section-bg">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>Players</h2>
          <p>Best Players.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="~/assets/img/embabypic.jpg" class="img-fluid" alt="">   
              </div>
              <div class="member-info">
                <h4>Embaby</h4>
                <span>Paris Saint-Germain</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="~/assets/img/ronaldopic.jpg" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Ronaldo</h4>
                <span>Manchester United</span>
              </div>
            </div>
          </div>

          


          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="~/assets/img/messipic.jpg" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Messi</h4>
                <span>Paris Saint-Germain</span>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="~/assets/img/roonypic.jpg" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Roony</h4>
                <span>Manchester United</span>
              </div>
            </div>
          </div>



          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="~/assets/img/lewandowski.jpg" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Lewandowski</h4>
                <span>Bayern Munich</span>
              </div>
            </div>
          </div>



          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="~/assets/img/neymarpic.jpg" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Neymar</h4>
                <span>Paris Saint-Germain</span>
              </div>
            </div>
          </div>



          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="~/assets/img/salahpic.jpg" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Mohamed Salah</h4>
                <span>Liverpool</span>
              </div>
            </div>
          </div>



          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="~/assets/img/neuerpic.jpg" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Neuer</h4>
                <span>Bayern Munich</span>
              </div>
            </div>
          </div>




        </div>

      </div>
    </section>